html,
body,
#root,
.app {
  height: 100%;
}

html {
  min-height: 100%;
}

body {
  background: #eeeeee;
  background-size: 100%;
  background-position: top;
  height: 100%;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Background Colors */
.custom-blue {
  background-color: #05386b;
}
.custom-green {
  background-color: #5cdb95;
}
.custom-light-green {
  background-color: #8ee4af;
}
.custom-dark-green {
  background-color: #379683;
}
.custom-white {
  background-color: #fff;
}
/* Custom Text Colors */
.custom-text-blue {
  color: #05386b;
}
.custom-text-green {
  color: #5cdb95;
}
.custom-text-light-green {
  color: #8ee4af;
}
.custom-text-dark-green {
  color: #379683;
}
.custom-text-white {
  color: #fff;
}

.top-header {
  margin-top: 0px;
}

.project-list {
  height: 716.5px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.meterialize-textarea:focus:not([readonly]) {
  border-color: #7cc78b;
  box-shadow: none;
}

#map-content {
  height: 400px;
  padding: 0;
}

#map {
  height: 100%;
}
